<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
<form action="/student/save" method="post" th:object="${student}">
    Student Code <input type="text" th:field="*{studentCode}"> <br>
    Full Name <input type="text" th:field="*{fullName}"> <br>
    Gender <input type="radio" th:field="*{gender}" value="Male">: Nam
    <input type="radio" th:field="*{gender}" value="Female">: Nu <br>
    Email <input type="text" th:field="*{email}"> <br>
    Phone <input type="text" th:field="*{phone}"> <br>
    Major <input type="text" th:field="*{major}"> <br>
    Class Name <input type="text" th:field="*{className}"> <br>
    <button type="submit">Save</button>
</form>
<table class="table">
    <thead>
    <tr>
        <td>id</td>
        <td>Student Code</td>
        <td>Full Name</td>
        <td>Gender</td>
        <td>Email</td>
        <td>Phone</td>
        <td>Major</td>
        <td>Class Name</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="st: ${list}">
        <td th:text="${st.id}"></td>
        <td th:text="${st.studentCode}"></td>
        <td th:text="${st.fullName}"></td>
        <td th:text="${st.gender}"></td>
        <td th:text="${st.email}"></td>
        <td th:text="${st.phone}"></td>
        <td th:text="${st.major}"></td>
        <td th:text="${st.className}"></td>
    </tbody>
</table>
</body>
</html>