<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
<table class="table">
    <thead>
    <tr>
        <td>id</td>
        <td>Student Code</td>
        <td>Full Name</td>
        <td>Gender</td>
        <td>Email</td>
        <td>Phone</td>
        <td>Major</td>
        <td>Class Name</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="st: ${list}">
        <td th:text="${st.id}"></td>
        <td th:text="${st.studentCode}"></td>
        <td th:text="${st.fullName}"></td>
        <td th:text="${st.gender}"></td>
        <td th:text="${st.email}"></td>
        <td th:text="${st.phone}"></td>
        <td th:text="${st.major}"></td>
        <td th:text="${st.className}"></td>
    </tbody>
</table>
</body>
</html>